services:
  traefik:
    image: traefik:v3.3
    ports:
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./infra/Ansible/traefik/configs/traefik.yaml:/etc/traefik/traefik.yaml:Z
      - ./infra/Ansible/traefik/certs:/etc/traefik/certs:Z
    networks:
      - proxy
    restart: unless-stopped
    healthcheck:
      test: traefik healthcheck

  postgres:
    image: postgres:14.16-alpine3.20
    restart: unless-stopped
    user: postgres
    env_file:
      - path: ./.env
        required: true
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_DATABASE}
    # ports:
    #   - 5433:5432
    # volumes:
    # - /mnt/disks/pg_data/data:/var/lib/postgresql/data:z
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 15s
      retries: 20
    networks:
      - backend-postgres

  backend:
    build:
      context: ./
      target: production-backend
    # ports:
    #   - 3001:3001
    env_file:
      - path: ./.env
        required: true
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    networks:
      - backend-postgres
      - proxy
    labels:
      traefik.enable: "true"
      traefik.http.routers.backend.rule: "Host(`${DOMAIN}`) && PathPrefix(`/api`)"
      traefik.http.routers.backend.entrypoints: websecure
      traefik.http.routers.backend.tls: "true"
      traefik.http.routers.backend.tls.certResolver: acme_tls
      traefik.http.routers.backend.tls.domains[0].main: ${DOMAIN}

  frontend:
    build:
      context: ./
      target: production-frontend
    # ports:
    #   - 5173:5733
    depends_on:
      backend:
        condition: service_started
        restart: true
    networks:
      - backend-postgres
      - proxy
    labels:
      traefik.enable: "true"
      traefik.http.routers.frontend.rule: Host(`${DOMAIN}`)
      traefik.http.routers.frontend.entrypoints: websecure
      traefik.http.routers.frontend.tls: "true"
      traefik.http.routers.frontend.tls.certResolver: acme_tls
      traefik.http.routers.frontend.tls.domains[0].main: ${DOMAIN}

networks:
  backend-postgres:
  proxy:
# volumes:
#   pg_data_aplikacja_konie:
