name: Deploy

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - Docker
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' }} || ${{github.event_name == 'workflow_run' }} && ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    environment: development
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v3
        env:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
          ANSIBLE_HOST: ${{secrets.ANSIBLE_HOST}}
          ANSIBLE_USER: ${{secrets.ANSIBLE_USER}}
          ENV_FILE: "${{ secrets.ENV_FILE }}"
        with:
          # Required, playbook filepath
          playbook: infra/Ansible/playbooks/deploy-using-docker.yml
          # Optional, SSH private key
          key: ${{secrets.SSH_PRIVATE_KEY}}
          # Optional, SSH known hosts file content
          known_hosts: ${{secrets.SSH_KNOWN_HOSTS}}
          options: |
            --inventory infra/Ansible/inventory/inventory.yml
            --verbose
